/* Háttérkép váltáshoz szükséges stílusok */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #5c4e81; /* Világoskék árnyalat */
  color: #221d1d; /* Sötétebb szöveg a világos háttérhez */
}
  
  /* Egyéni navigációs menü szín */
  .custom-navbar {
    background-color: #18a890 !important; /* Zöldes árnyalat */
  }
  
  /* Footer stílus */
  footer {
    background-color: #18a890 !important;
    color: #fff !important;
    text-align: center;
    padding: 1rem 0;
  }
  .dropdown-menu {
    background-color: #fff; /* Fehér háttér */
    border: 1px solid #ccc; /* Szürke szegély */
    z-index: 1000; /* Biztosítsd, hogy a menü a többi elem fölött jelenjen meg */
}
/* Vissza a tetejére gomb stílus */
.back-to-top {
  display: none; /* alapértelmezett rejtett */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #18a890;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.back-to-top.shown {
  display: block; /* a .shown osztállyal megjelenik */
}

.back-to-top:hover {
  background-color: #0f7a63; /* Sötétebb zöld árnyalat hover állapotban */
}
